.cover__grupo-title{
    font-family: 'Inter';
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    color: #ffff;
    font-weight: 900;
    width: 656px;
    height: 76px;
    margin: auto auto 32px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .cover__grupo-title{
        margin: 0 0 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__grupo-title{
        width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 16px;
    }
}
