.place__title{
    font-family: 'Inter';
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    color: #ffff;
    font-weight: 900;
    grid-area: title;
}

.place__title h4{
    width: 584px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 30px;
    }
} 